
/* Google fonts import */
@import url('https://fonts.googleapis.com/css?family=Cambay|Just+Another+Hand&display=swap');

/* Overall settings for all pages*/
body{
    font-family: 'Cambay', sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    text-align: center;
}

/* Navigation Bar */
.nav-custom {
    background-color: #026318;
    font-size: 1.5rem;
    padding: 0;
}

.navbar-brand {
    font-family: 'Just Another Hand', cursive;
    font-size: 3rem;
}

.navbar-brand img {
    height: 50px;
}

.navbar-dark .navbar-nav .nav-link {
    color:#fff;
}

/* Positions main content in all views */
.main-content {
    margin-top: 125px;
    flex: 1;
}

/* Landing-page */
.landing-page {
    background-image: url('../images/vegetables.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
    overflow: hidden;
    position: relative;
    height: 67vh;
    color: #fff;
}

/* Custom settings for headings */
h1 {
    font-family: 'Just Another Hand', cursive;
    font-size: 7rem;
}

h2 {
    font-size: 3.5rem;
}

/* Custom styling for buttons */
.btn-custom {
    background-color: #026318;
    color: #fff;
    min-width: 5rem;
}

.edit-btn {
    margin-top: 2rem;
}

/* Recipe cards */
.recipe-img {
    width: 100%;
    height: 10rem;
    object-fit: cover;
}

.card-div a {
    color: #026318;
}

/* Recipe View */
.recipe-border {
    border-right: solid rgb(0,0,0,0.25) 1px
}

hr {
    border-top: solid rgba(0,0,0,0.25) 1px;
}

.form-box {
    max-width: 500px;
    margin: auto;
    border: solid #026318 1px;
    padding: 1rem;
    text-align: left;
}

/* Footer */
footer {
    background-color: #026318;
    color:#fff;
    min-height: 60px;
    margin-top: 1rem;
}