{% extends 'base.html' %}

{% block content %}

<div class="main-content">
	<h3>Add a recipe</h3>
    <!-- Form for adding a recipe to the database -->
    <div class="form-box">
        <form  action="{{ url_for('insert_recipe') }}" method="POST" class="forms">
            <div class="form-group row">
                <label for="recipe-name" class="col-sm-4 col-form-label">Recipe name:</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control form-control-sm" name="recipe_name" id="recipe_name" required>
                </div>
            </div>
            <div class="form-group row">
                <label for="category" class="col-sm-4 col-form-label">Category:</label>
                <div class="col-sm-8">
                    <select class="form-control form-control-sm" name="category_name" id="category_name" required>
                        <option value="" disabled selected>Choose Category</option>
                        {% for category in categories %}
                        <option value="{{category.category_name}}">{{category.category_name}}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="form-group row">
                <label for="prep-time" class="col-sm-4 col-form-label">Prep time:</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control form-control-sm" name="prep_time" id="prep_time">
                </div>
            </div>
            <div class="form-group row">
                <label for="cook-time" class="col-sm-4 col-form-label">Cooking time:</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control form-control-sm" name="cook_time" id="cook_time">
                </div>
            </div>
            <div class="form-group row">
                <label for="number-servings" class="col-sm-4 col-form-label">Servings:</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control form-control-sm" name="serves" id="serves">
                </div>
            </div>
            <div class="form-group row" id="ingredients-wrapper">
                <label for="ingredient-list" class="col-sm-4 col-form-label">Ingredients:</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control form-control-sm" name="ingredients" id="ingredients" placeholder="Please separate ingredients with commas" required>
                </div>
            </div>
            <div class="form-group row">
                <label for="img-url" class="col-sm-4 col-form-label">Image URL:</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control form-control-sm" name="image_url" id="image_url" required>
                </div>
            </div>
            <div class="form-group row">
                <label for="instructions" class="col-sm-4 col-form-label">Instructions:</label>
                <div class="col-sm-8">
                    <textarea class="form-control form-control-sm" name="instructions" id="instructions" rows="5" required></textarea>
                </div>
            </div>
            <div class="form-group row">
                <label for="id-key" class="col-sm-4 col-form-label">Secret key:</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control form-control-sm" name="id_key" id="id_key" required>
                    <smalln id="id-key-help" class="form-text text-muted">
                    You will need this key if you want to edit or delete the recipe later.
                    </small>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-sm-12 text-right">
                    <button type="submit" class="btn btn-custom">Add!</button>
                </div>
            </div>
        </form>
    </div>
</div>

{% endblock %}