{% extends 'base.html' %}

{% block content %}

<section class="main-content">
	<h3>Edit your recipe here</h3>
    <!-- Form for editing a recipe. Input fields autopopulated from MongoDB database. -->
    <div class="form-box">
        <form  action="{{ url_for('submit_edit', recipe_id=recipe._id) }}" method="POST" class="forms">
            <div class="form-group row">
                <label for="recipe_name" class="col-sm-4 col-form-label">Recipe name:</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control form-control-sm" name="recipe_name" id="recipe_name" value="{{ recipe.name}}">
                </div>
            </div>
            <div class="form-group row">
                <label for="category_name" class="col-sm-4 col-form-label">Category:</label>
                <div class="col-sm-8">
                    <select class="form-control form-control-sm" name="category_name" id="category_name">
                        <option value="{{ recipe.category_name }}">{{ recipe.category_name }}</option>
                        {% for category in categories %}
                        <option value="{{category.category_name}}">{{ category.category_name }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="form-group row">
                <label for="prep_time" class="col-sm-4 col-form-label">Prep time:</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control form-control-sm" name="prep_time" id="prep_time" value="{{ recipe.prep_time }}">
                </div>
            </div>
            <div class="form-group row">
                <label for="cook_time" class="col-sm-4 col-form-label">Cooking time:</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control form-control-sm" name="cook_time" id="cook_time" value="{{ recipe.cook_time }}">
                </div>
            </div>
            <div class="form-group row">
                <label for="serves" class="col-sm-4 col-form-label">Servings:</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control form-control-sm" name="serves" id="serves" value="{{ recipe.serves }}">
                </div>
            </div>
            <div class="form-group row" id="ingredients-wrapper">
                <label for="ingredients" class="col-sm-4 col-form-label">Ingredients:</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control form-control-sm" name="ingredients" id="ingredients" placeholder="Please separate ingredients with semi-colons" value="{{ recipe.ingredients|join('; ') }}">
                </div>
            </div>
            <div class="form-group row">
                <label for="image_url" class="col-sm-4 col-form-label">Image URL:</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control form-control-sm" name="image_url" id="image_url" value="{{ recipe.image_url }}">
                </div>
            </div>
            <div class="form-group row">
                <label for="instructions" class="col-sm-4 col-form-label">Instructions:</label>
                <div class="col-sm-8">
                    <textarea class="form-control form-control-sm" name="instructions" id="instructions" rows="5">{{ recipe.instructions }}</textarea>
                </div>
            </div>
            <div class="form-group row">
                <label for="id_key" class="col-sm-4 col-form-label">Secret key:</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control form-control-sm" name="id_key" id="id_key" value="{{ recipe.id_key }}">
                    <smalln id="id-key-help" class="form-text text-muted">
                    You will need this key if you want to edit or delete the recipe later.
                    </small>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-sm-4">Delete?</div>
                <div class="col-sm-8">
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input"  value="checked" name="delete" id="delete">
                        <label for="delete" class="form-check-label">Check to delete the recipe completely</label>
                    </div>
                </div>
            </div>
            <!-- Arrow for going back to the recipe -->
            <div class="form-group row">
                <div class="col text-left">
                    <a href="{{ url_for('view_recipe', recipe_id=recipe._id) }}"><i class="fas fa-arrow-left arrow-custom"></i></a>
                </div>
                <div class="col text-right">
                    <button type="submit" class="btn btn-custom">Submit</button>
                </div>
            </div>
        </form>
    </div>
</section>
{% endblock %}