{% extends 'base.html' %}

{% block content %}

<!-- Background photo with website name and subheading -->
<section class="landing-page">
    <div>
        <h1>The Veggie Patch</h1>
        <h2>- Discover and share recipes with fellow vegetarians -</h2>
    </div>
</section>

<!-- Section showing a clickable card for all recipes in the database -->
<section class="index-recipes">
    <div class="container">
        <h3>Browse all recipes</h3>
        <!-- Flash message for when a recipe has been deleted -->
        {% with success = get_flashed_messages(category_filter=["success"]) %}
            {% if success %}
                {% for message in success %}
                <div class="alert alert-success" role="alert">
                    <span>{{ message }}</span>
                </div>
                {% endfor %}
            {% endif %}
        {% endwith %}
        <div class="row">
            {% for recipe in recipes %}
            <div class="col-md-4 mb-2">
                <div class="align-items-center justify-content-center h-100 w-100 mx-auto card-div">
                    <img src="{{ recipe.image_url }}" class="card-img" alt="{{ recipe.recipe_name }}">
                    <a href="{{ url_for('view_recipe', recipe_id=recipe._id) }}" class="stretched-link">{{ recipe.recipe_name }}</a>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>

    <!-- Back/Next arrows will only show if there are more recipes than can fit on a page -->
	{% if max_number > limit %}
	<div class="container arrow-container">
		<div class="row">
			<!-- Previous button will not be displayed on the first page -->
			<div class="col-6 text-left">
				{% if offset > 0 %}
				<a href="{{ prev_url }}"><i class="fas fa-arrow-left arrow-custom"></i></a>
				{% endif %}
			</div>
			<!-- Next button will not be displayed if there are no more recipes -->
			<div class="col-6 text-right">
				{% if offset + limit < max_number %}
				<a href="{{ next_url }}"><i class="fas fa-arrow-right arrow-custom"></i></a>
				{% endif %}
			</div>
		</div>
	</div>
	{% endif %}
</section>

{% endblock %}