{% extends 'base.html' %}

{% block content %}

<!-- Section showing a clickable card for each recipe returned from a search or in a category -->
<section class="main-content">
	<div class="container">
		<h3>{{ heading }}</h3>
		{% if results.count() == 0 %}
		<p>No results found</p>
		{% else %}
		<div class="row">
			{% for res in results %}
			<div class="col-md-4 mb-2">
				<div class="align-items-center justify-content-center h-100 w-100 mx-auto card-div">
					<img src="{{ res.image_url }}" class="card-img" alt="{{ res.recipe_name }}">
					<a href="{{ url_for('view_recipe', recipe_id=res._id) }}" class="stretched-link">{{ res.recipe_name }}</a>
				</div>
			</div>
			{% endfor %}
		</div>
		{% endif %}
	</div>

	<!-- Back/Next arrows will only show if there are more recipes than can fit on a page -->
	{% if max_number > limit %}
	<div class="container">
		<div class="row">
			<!-- Previous button will not be displayed on the first page -->
			<div class="col-6 text-left">
				{% if offset > 0 %}
				<a href="{{ prev_url }}"><i class="fas fa-arrow-left arrow-custom"></i></a>
				{% endif %}
			</div>
			<!-- Next button will not be displayed if there are no more recipes -->
			<div class="col-6 text-right">
				{% if offset + limit < max_number %}
				<a href="{{ next_url }}"><i class="fas fa-arrow-right arrow-custom"></i></a>
				{% endif %}
			</div>
		</div>
	</div>
	{% endif %}
</section>

{% endblock %}