{% extends 'base.html' %}

{% block content %}

<!-- Section showing a clickable card for each recipe returned from a search -->
<section class="main-content">
    <div class="container">
        <h3>{{ heading }}</h3>
        {% if results.count() == 0 %}
        <p>No results found</p>
        {% else %}
        <div class="row">
            {% for res in results %}
            <div class="col-md-4 mb-2">
                <div class="align-items-center justify-content-center h-100 w-100 mx-auto card-div">
                    <img src="{{ res.image_url }}" class="card-img" alt="{{ res.name }}">
                    <a href="{{ url_for('view_recipe', recipe_id=res._id) }}" class="stretched-link">{{ res.name }}</a>
                </div>
            </div>
            {% endfor %}
        </div>
        {% endif %}
    </div>
</section>

{% endblock %}