{% extends 'base.html' %}

{% block content %}

<!-- Shows details for a specific recipe -->
<section class="main-content">
    <div class=" container">
        <h3>{{ recipe.name }}</h3>
        <div class="row view-recipe">
            <!-- Recipe image -->
            <div class="col-md-6 recipe-border">
                <img src="{{ recipe.image_url }}" class="recipe-img w-100" alt="{{ recipe.name }}">
            </div>
            <div class="col-md-6 recipe-info">
                <p><strong><i class="fas fa-pizza-slice"></i> Mealtype:</strong> {{ recipe.category_name }}</p>
                <p><strong><i class="fas fa-clock"></i> Preparation time:</strong> {{ recipe.prep_time }}</p>
                <p><strong><i class="fas fa-clock"></i> Cooking time:</strong> {{ recipe.cook_time }}</p>
                <p><strong><i class="fas fa-utensils"></i> Number of servings:</strong> {{ recipe.serves }}</p>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-md-6 recipe-border">
                <h4>Ingredients</h4>
                <ul>
                    {% for ingredient in recipe.ingredients %}
                    <li>{{ ingredient }}</li>
                    {% endfor %}
                </ul>
            </div>
            <div class="col-md-6">
                <h4>Instructions</h4>
                <p>{{ recipe.instructions }}</p>
            </div>
        </div>
        <div class="row edit-btn">
            <div class="col-sm-12 text-center">
                <button class="btn btn-custom" id="modal-button">Edit recipe</button>
            </div>
            <div id="edit-modal">
                <div id="modal-content" class="text-center">
                    <form action="{{ url_for('edit_recipe', recipe_id=recipe._id) }}" method="POST">
                        <div class="form-group modal-input">
                            <label for="enter-key">Please enter your key:</label>
                            <input type="text" class="form-control" id="edit_key" name="edit_key">
                        </div>
                        <button type="submit" class="btn btn-custom">Edit recipe</Button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}